.article {
    /* background-color: #1f1f20 */
    color: #eea;
    padding: 0 10vw;
    width: 80%;
    float: right;
}

.seeArticle{
    min-width: 50px;
    min-height: 25px;
    border-radius: 7%;
    margin-bottom: 2vh;
}

.seeArticle:hover{
    background-color: #79b1bb;
    cursor: pointer;
}

.post-article-btn {
    margin-bottom: 2vh;
}