.article {
    color: #eea;
    padding: 0 10vw;
    width: 100%;
    margin-bottom: 5vh;
}

.seeArticle{
    min-width: 50px;
    min-height: 25px;
    margin-bottom: 2vh;
}

.seeArticle:hover{
    background-color: #79b1bb;
    cursor: pointer;
}

.post-article-btn {
    margin-bottom: 2vh;
}

