.App {
  text-align: center;
}

.App-title {
  font-size: 1.5em;
  height: 5vh;
  background-color: #50475f;
  margin: 0 auto;
  padding:2.5vh;
}

header {
  background-color: #426694;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

nav {
  padding: 5vh 2vw;
  background-color: #555;
  color: #eea;
  height: 75vh; 
}

.selected{
  background-color: rgba(168, 75, 103, 0.815);
  color: #eea;
}


.vote-up {
  background-color: #67e65c;
}

.vote-down {
  background-color: #c06a5f;
}

.vote-up, .vote-down {
  min-width: 50px;
  min-height: 25px;
  font-size: 1.2em;
  border-radius: 15%;
  border-color: none;
  margin: auto 1vw;
}

.vote-up:hover, .vote-down:hover {
  cursor: pointer;
}

/* rgba not working properly for seected, showing at full alpha when it should be .4 */
